h1 {
    color: darkblue;
    text-align: center;
}

.container-fluid{
    display: flex;
    /* justify-content: center; */
}

#list{
    flex:5;
    padding-bottom: 5%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%; */

}

.title-task{
    display: flex;
}

#form{
    font-weight: 600;
    position: absolute;
    right: 0.5%;
}

#colorSelect{
    max-width: 30%;
}

.clickable-icon{
    font-size: 32px;
    cursor: pointer;
    color: #abacae
}

.icon-important{
    color:red;
}

.cardTask{
    border:solid 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}